.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid #db4975;

  border-radius: 50%;
  position: absolute !important;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.pulse {
  animation: cursorAnim 0.5s infinite alternate;
}

.cursor::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid #e3b7c4;
  border-radius: 50%;
  opacity: 0.5;
  top: -9px;
  left: -9px;
  animation: cursorAnim2 0.5s infinite alternate;
}

.expand {
  animation: cursorAnim3 0.5s forwards !important;
  border: 1px solid red;
}

.hover {
  transition: 0.2s;
  background-color: #db4975;
  border: 1px solid #db4975;

  animation: cursorAnim 0.5s infinite alternate;
}

.hover::after {
  display: none;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
